body {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: navy;
  color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: fantasy;
  width: 75vw;
  height: 10vw;
  border-end-end-radius: 35%;
  border-end-start-radius: 35%;
  margin-bottom: 5vh;
  border-color: white , blue;
  border-style: groove;
}

header > div {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4vh;
  font-size: 4vw;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 75vw;
  height: 5vh;
  background-color: black;
}

nav > a {
  color: lightgray;
  text-decoration: none;
  font-size: 2vh;
  font-size: 2vw;
}

main {
  width: 95vw;
  background-color: lightgray;
  margin-top: 2vw;
}

img {
  height: 20vh;
  width: 20vh;
}


